Repository fraware/spec-to-proof, changes with the owners that CODEOWNERS names for each.
All owners: @fraware, @backend-team, @ml-team, @formal-methods-team, @frontend-team, @devops-team, @tech-writers, @qa-team

CODEOWNERS:

# Global owners
* @fraware

# Domain-specific owners
/ingest/ @fraware @backend-team
/nlp/ @fraware @ml-team
/proof/ @fraware @formal-methods-team
/platform/ @fraware @frontend-team

# Infrastructure
/terraform/ @fraware @devops-team
/charts/ @fraware @devops-team
/.github/ @fraware @devops-team

# Documentation
/docs/ @fraware @tech-writers
/README.md @fraware

# Configuration files
/WORKSPACE @fraware
/BUILD @fraware
/.bazelrc @fraware
/buf.yaml @fraware
/buf.work.yaml @fraware

# Scripts
/scripts/ @fraware @devops-team

# Tests
/tests/ @fraware @qa-team
/e2e/ @fraware @qa-team

# Protobuf schemas
/proto/ @fraware @backend-team

# UI components
/platform/ui/ @fraware @frontend-team

# Lean proofs
/proof/lean/ @fraware @formal-methods-team

Initial commit
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
  package-lock.json
Owners: @fraware

feat/initial commit
  jest.setup.js
  package-lock.json
  package.json
  platform/ui/src/lib/__tests__/coverage.test.ts
  platform/ui/src/types/__tests__/spec-to-proof.test.ts
Owners: @fraware, @frontend-team

Enhance testing setup with mocks, type definitions, and Jest configuration
  jest.setup.js
  package-lock.json
  package.json
  platform/ui/src/lib/__tests__/coverage.test.ts
  platform/ui/src/lib/trpc.ts
  platform/ui/src/types/__tests__/spec-to-proof.test.ts
  platform/ui/src/types/jest.d.ts
  platform/ui/src/types/spec-to-proof.ts
Owners: @fraware, @frontend-team

feat/initial commit
  jest.setup.js
  package-lock.json
  package.json
  platform/ui/src/lib/__tests__/coverage.test.ts
  platform/ui/src/lib/trpc.ts
  platform/ui/src/types/__tests__/spec-to-proof.test.ts
  platform/ui/src/types/spec-to-proof.ts
Owners: @fraware, @frontend-team

feat/initial commit
  CHANGELOG.md
  PROMPT_14_15_16_17_SUMMARY.md
  PROMPT_2_SUMMARY.md
  PROMPT_3_SUMMARY.md
  PROMPT_4_SUMMARY.md
  PROMPT_6_SUMMARY.md
  PROMPT_9_10_11_SUMMARY.md
  README.md
  docs/adr/001-monorepo-architecture.md
  docs/compliance/soc2-readiness-checklist.md
  docs/migration.md
  docs/prompts/prompt-1-completion.md
  docs/runbooks/README.md
  docs/runbooks/cost-threshold.md
  docs/runbooks/coverage-drop.md
  docs/runbooks/drift-backlog-overflow.md
  docs/runbooks/high-error-rate.md
  docs/runbooks/high-latency.md
  docs/runbooks/low-success-rate.md
  docs/runbooks/proof-failure-rate.md
  docs/runbooks/resource-exhaustion.md
  docs/runbooks/security-scan-failures.md
  docs/runbooks/service-unavailable.md
  jest.setup.js
  lean-farm/README.md
  package-lock.json
  package.json
  platform/ui/src/lib/trpc.ts
  platform/ui/src/types/jest.d.ts
  platform/ui/src/types/spec-to-proof.ts
  platform/ui/tsconfig.jest.json
Owners: @fraware, @tech-writers, @frontend-team

Update README.md
  README.md
Owners: @fraware

Create txt.txt
  .github/assets/txt.txt
Owners: @fraware, @devops-team

Add files via upload
  Spec-to-Proof1.png
Owners: @fraware

Add files via upload
  .github/assets/Spec-to-Proof1.png
Owners: @fraware, @devops-team

Delete .github/assets/txt.txt
  .github/assets/txt.txt
Owners: @fraware, @devops-team

Update README.md
  README.md
Owners: @fraware

feat/initial commit
  README.md
Owners: @fraware

feat: improving structure
  Spec-to-Proof1.png
  demo_language_variations.py
  nlp/Language_Variation_Analysis.md
  nlp/tests/language_variation_test.rs
Owners: @fraware, @ml-team
